{% if page.layout == "home-infographic" and site.data.theme.featured-image %}
<style>
#home-banner {
    background-image: url('{{ site.data.featured_item.src | relative_url }}');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: {{ site.data.theme.home-banner-image-position | default: 'center' }};
    filter: brightness(0.70) contrast(1.05);
}
#home-title-box {
padding: 0;
}
    .hero-overlay {
    background: transparent;
    min-height: 55vh;

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;   /* use center if you want vertical centering */
    align-items: center;
    text-align: center;

    padding-top: 2.5rem;
}
    .hero-overlay h1 {
  font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 1.45;
    letter-spacing: .01em;
    text-shadow: 0 3px 12px rgba(0,0,0,.65);
}

.hero-overlay p {
 font-family: "Cormorant Garamond", serif;
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: .02em;
    max-width: 1100px;
    margin: 0 auto;
    text-shadow: 0 3px 12px rgba(0,0,0,.65);
}
@media screen and (max-width: 576px) {
    .hero-overlay {
        min-height: 45vh;
    }

    .hero-overlay h1 {
        font-size: 2.5rem;
    }

    .hero-overlay p {
        font-size: 1.2rem;
    }
}
</style>
<div id="home-banner" class="container-fluid mb-0 p-0">
    <div id="home-title-box" class="position-relative d-flex">
        <div class="hero-overlay d-flex flex-column justify-content-center align-items-center text-center text-white w-100">
            <h1 class="mb-2">{{ site.title }}</h1>
            {% if site.tagline %}
            <p class="mb-0">{{ site.tagline }}</p>
            {% endif %}
        </div>
    </div>
</div>
{%- else -%}
<div class="container">
    <div class="row align-items-center">
        <div id="title" class="{% if site.organization-logo-banner %}col-md-9{% else %}col-12{% endif %}">
            <h1 class="mt-2"><a class="text-dark" href="{{ '/' | relative_url }}" >{{ site.title }}</a></h1>	 
            {% if site.tagline %}<p>{{ site.tagline }}</p>{% endif %}
        </div>
        {% if site.organization-logo-banner %}
        <div class="col-md-3 d-none d-lg-block text-end">
            <a class="btn btn-outline-light" href="{{ site.organization-link }}">
                <img class="img-fluid" src="{{ site.organization-logo-banner | relative_url }}" title="{{ site.organization-name }}" alt="{{ site.organization-name | escape }} home" >
            </a>
        </div>
        {% endif %}
    </div>
</div>
{%- endif -%}
